.title {
  font-size: 3rem;
  color: #2f89de;
}

.content {
  font-size: 1.8rem;
  line-height: 1.7
}

.link {
  color: #2f89de; 
}

.link:focus,
.link:hover {
  color: #30699e;
  transition: color 0.3s ease;
}
